[MASTER]
# Specify directories and files to ignore
ignore=venv, my_env, build, dist, __pycache__

[MESSAGES CONTROL]
# Disable specific messages by their ID
disable=
    C0114,  ; missing-module-docstring
    C0115,  ; missing-class-docstring
    C0116,  ; missing-function-docstring
    C0411,  ; wrong-import-order
    C0412,  ; ungrouped-imports
    C0103,  ; invalid-name
    R0903,  ; too-few-public-methods
    R0913,  ; too-many-arguments
    R0914,  ; too-many-locals
    W0718,  ; catching too general exception
    W0707,  ; raising too general exception
    W0611,  ; unused-import
    W0612,  ; unused-variable
    W0613,  ; unused-argument
    W0621,  ; redefined-outer-name
    W0631,  ; undefined-loop-variable
    W1508,  ; os.getenv default type warning
    R0801,  ; duplicate-code
    W0621,  ; redefined-outer-name
    C0121,  ; singleton-comparison
    C0411,  ; wrong-import-order
    W1508,  ; invalid-envar-default
    E0213,  ; no-self-argument
    W0631,  ; undefined-loop-variable
    C0325,  ; superfluous-parens
    W0105,  ; pointless-string-statement

    
[FORMAT]
max-line-length=120
